.customers{
    width: 100%;
    padding: 0 16px;
}
.customersCards{
    margin: 0 auto;
    max-width: 1113px;
    width: 100%;
}
.customersCard{
    width: 100%;
    height: 245px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;    border-radius: 3rem;
}
.customersHeader{
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    margin: 4rem 0;
}
.cardImg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.cardName{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.cardText{
    margin: 10px 0 10px 0;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
.slick-slide > div{
    margin: 0 20px;
}
@media (max-width:876px) {
    .cardText{
        font-size: 14px;
    }
    
}