
.container{
    max-width: 1300px;
    margin: 0 auto;
}
.offersTitle{
    margin-top: 50px;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    text-align: center;
}
.offersCards{
    margin-top: 20px;
    display: flex;
    flex: 0 1 33.333%;
    padding: 30px 30px;
    flex-wrap: wrap;
}
.offersCard{
    padding: 30px 0;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: #fff;
    border-radius: 3.5rem;
    display: flex;
    flex-direction: column;
    height: 469px;
    width: 357px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.offersCard img{
    border-radius: 3.5rem;
    height: 239px;
    width: 293px;   
}
.CardTitle{
    font-family: Poppins,sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}
.CardInfo{
    display: flex;
    font-size: 14px;
    line-height: 21px;
}
.CardInfo div{
    margin: 0 12px;
}
.type1{
    color: #2D8985;
    background-color: #D6EDEB;
    padding: 0 10px;
    border-radius: 10px;
}
.type2{
    color: #F178B6;
    background-color: #FCDDEC;
    padding: 0 10px;
    border-radius: 10px;
}
.CardPrice p{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #292D32;
    display: inline;
}
.CardPrice span{
    margin: 0 20px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}
.price{
    font-size: 24px;
}
.CardBtn{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    background-color: #177BA5;
    padding: 8px 16px;
    border-radius: 17px;
    cursor: pointer;
}
.CardPrice{
    margin-left: 10px;
}
@media (max-width: 768px) {
    .offersCard {
      width: 100%;
    }
  }
  

  
